.target-opacity, .target-nodelay,
.target-delay-3s,
.target-delay-m3s,
.target-delay-m1s,
.target-delay-m8s {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.target-nodelay,
.target-delay-3s,
.target-delay-m3s,
.target-delay-m1s,
.target-delay-m8s {
  width: 100px;
  height: 100px;
  background-color: #21b7bd;
  transition-property: margin-left;
  transition-duration: 5000ms;
  transition-timing-function: linear;
  margin-left: 0;
}
.target-nodelay.on,
.target-delay-3s.on,
.target-delay-m3s.on,
.target-delay-m1s.on,
.target-delay-m8s.on {
  margin-left: 600px;
}
.target-nodelay.force,
.target-delay-3s.force,
.target-delay-m3s.force,
.target-delay-m1s.force,
.target-delay-m8s.force {
  transition-property: none;
}

.target-delay-3s {
  transition-delay: 3000ms;
}

.target-delay-m3s {
  transition-delay: -3000ms;
}

.target-delay-m1s {
  transition-delay: -1000ms;
}

.target-delay-m8s {
  transition-delay: -8000ms;
}

.target-opacity {
  height: 100px;
  background-color: blue;
  transition-property: opacity;
  transition-duration: 5000ms;
  transition-timing-function: linear;
  opacity: 0;
}
.target-opacity.on {
  opacity: 1;
}
.target-opacity.force {
  transition-property: none;
}