@import "common";

$media: "";
%anim-init#{$media} { @include anim-init; }

.target-nodelay,
.target-delay-3s,
.target-delay-m3s,
.target-delay-m1s,
.target-delay-m8s {
  width: 100px;
  height: 100px;
  background-color: #21b7bd;

  @extend %anim-init#{$media};
  transition-property: margin-left;
  transition-duration: 5000ms;
  transition-timing-function: linear;
  margin-left: 0;

  &.on {
    margin-left: 600px;
  }

  &.force {
    transition-property: none; // Disable animation
  }
}

.target-delay-3s {
  transition-delay: 3000ms;
}

.target-delay-m3s {
  transition-delay: -3000ms;
}

.target-delay-m1s {
  transition-delay: -1000ms;
}

.target-delay-m8s {
  transition-delay: -8000ms;
}

.target-opacity {
  height: 100px;
  background-color: blue;

  @extend %anim-init#{$media};
  transition-property: opacity;
  transition-duration: 5000ms;
  transition-timing-function: linear;
  opacity: 0;

  &.on {
    opacity: 1;
  }

  &.force {
    transition-property: none; // Disable animation
  }
}
