/* line 5, default.scss */
.target-nodelay,
.target-delay-3s,
.target-delay-m3s,
.target-delay-m1s, .target-opacity {
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}

/* line 7, default.scss */
.target-nodelay,
.target-delay-3s,
.target-delay-m3s,
.target-delay-m1s {
  width: 100px;
  height: 100px;
  background-color: #21b7bd;
  -moz-transition-property: margin-left;
  -o-transition-property: margin-left;
  -webkit-transition-property: margin-left;
  transition-property: margin-left;
  -moz-transition-duration: 5000ms;
  -o-transition-duration: 5000ms;
  -webkit-transition-duration: 5000ms;
  transition-duration: 5000ms;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  margin-left: 0;
}
/* line 21, default.scss */
.target-nodelay.on,
.target-delay-3s.on,
.target-delay-m3s.on,
.target-delay-m1s.on {
  margin-left: 600px;
}
/* line 25, default.scss */
.target-nodelay.force,
.target-delay-3s.force,
.target-delay-m3s.force,
.target-delay-m1s.force {
  -moz-transition-property: none;
  -o-transition-property: none;
  -webkit-transition-property: none;
  transition-property: none;
}

/* line 30, default.scss */
.target-delay-3s {
  -moz-transition-delay: 3000ms;
  -o-transition-delay: 3000ms;
  -webkit-transition-delay: 3000ms;
  transition-delay: 3000ms;
}

/* line 34, default.scss */
.target-delay-m3s {
  -moz-transition-delay: -3000ms;
  -o-transition-delay: -3000ms;
  -webkit-transition-delay: -3000ms;
  transition-delay: -3000ms;
}

/* line 38, default.scss */
.target-delay-m1s {
  -moz-transition-delay: -1000ms;
  -o-transition-delay: -1000ms;
  -webkit-transition-delay: -1000ms;
  transition-delay: -1000ms;
}

/* line 42, default.scss */
.target-opacity {
  height: 100px;
  background-color: blue;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 5000ms;
  -o-transition-duration: 5000ms;
  -webkit-transition-duration: 5000ms;
  transition-duration: 5000ms;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: 0;
}
/* line 52, default.scss */
.target-opacity.on {
  opacity: 1;
}
/* line 56, default.scss */
.target-opacity.force {
  -moz-transition-property: none;
  -o-transition-property: none;
  -webkit-transition-property: none;
  transition-property: none;
}
